/******************************************************************************
TBD: theme docs
******************************************************************************/

:root {
  --color-bg: #9480FF;
  --color-bg-alt: #D7F5EF;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --theme-color-title: #FFFFFF;
}

.content {
  max-width: 900px;
}

body {
  background: linear-gradient(0deg,var(--color-bg-alt),var(--color-bg));
}

ul.link-list {
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 100px; 
  
  grid-gap: 1em;
}

@media (min-width: 400px) {
  ul.link-list {
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  /* Define Auto Row size */
  grid-auto-rows: 200px; 
  }
}

ul.link-list li {
  height:100%;
}

ul.link-list li a {
  position:relative;
  height:100%;
  display: inline-block;
  background-color: #000000;
}

ul.link-list li a:link,
ul.link-list li a:visited {
  border: none;
}

.social-profile-icon path {
  fill: var(--color-bg);
}

h1 {
  color: var(--theme-color-title);
}