/******************************************************************************
TBD: theme docs
******************************************************************************/

:root {
  --image-max-width: 50px;
  --color-bg: #FFFFFF;
  --color-bg-alt: #D7F5EF;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --theme-color-title: #AFECE0;
}

.content {
  max-width: 900px;
}

body {
  background: linear-gradient(0deg,var(--color-bg-alt),var(--color-bg));
}

ul.link-list {
  width: 100%; 
  display: grid;
  grid-gap: 1em;
  margin: 8.5rem 0 4em 0;
}

@media (min-width: 500px) {
  ul.link-list {
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  }
}

ul.link-list li {
  aspect-ratio: 1;
  min-height: 200px;
  background-color: #FFFFFF;
  border-radius: 8%;
  overflow: hidden;  
  margin: 0;
}

ul.link-list li a {
  width:100%;
  height: 100%;
}

ul.link-list li a span {
  display: inline-block;
  width:85%;
  height: 60%;
  padding-top: 40%;
}

/* Background colors for each of the big links */
ul.link-list li:nth-child(2) {
  background-color: lime;
}

ul.link-list li a:link,
ul.link-list li a:visited {
  border: none;
}

.social-profile-icon path {
  fill: var(--color-bg);
}

h1 {
  color: var(--theme-color-title);
}

.content {
  position: relative;
}

.avatar-container {
  position: absolute;
  top:6px;
  left: 6px;
}

h1 {
  position: absolute;
  top:15px;
  left: 68px;
}