<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- OpenGraph/Social sharing -->
<meta name="description" content="{{ settings.metaDescription }}" />
<meta property="og:image" content="{{ settings.avatarImage }}" />
<meta name="twitter:card" content="summary" />
<link rel="icon" href="https://glitch.com/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/styles/style.css" />

<!-- PWA setup -->
<link rel="manifest" href="/manifest.json">
<script>
if(location.protocol == 'http:') location.protocol = 'https:';
if('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/sw.js')
    .then(reg => console.log('Service Worker registered', reg))
    .catch(err => console.error('Service Worker **not** registered', err));
}
else {
  console.warn('Service Worker not supported in this browser');
}    
</script>