<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Andy Piper",
    "affiliation": [
      {
        "@type": "Organization",
        "name": "Games at Work dot Biz",
        "sameAs": [
          "https://botsin.space/@gamesatwork_biz",
          "https://gamesatwork.biz"
        ]
      },
      {
        "@type": "Organization",
        "name": "Forge & Craft",
        "sameAs": [
          "https://forgeandcraft.co.uk",
          "https://metapixl.com/forgeandcraft"
        ]
      }
    ],
    "alumniOf": [
      {
        "@type": "CollegeOrUniversity",
        "name": "Brasenose College Oxford",
        "sameAs": "https://en.wikipedia.org/wiki/Brasenose_College,_Oxford"
      }
    ],
    "Description": "Technologist",
    "jobTitle": "Consultant & Speaker",
    "worksFor": [
      {
        "@type": "Organization",
        "name": "The Lost Outpost"
      }
    ],
    "email": "andypiper@omg.lol",
    "url": "https://andypiper.me",
    "image": "https://s.gravatar.com/avatar/51b171aa625feae99e27f390a39fab40?s=512&r=PG",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Kingston upon Thames",
      "addressRegion": "London",
      "addressCountry": "United Kingdom"
    },
    "sameAs": [
      "https://andypiper.omg.lol/",
      "https://andypiper.me",
      "https://instagram.com/andypiper",
      "https://glitch.com/@andypiper",
      "https://replit.com/@andypiper",
      "https://dev.to/andypiper",
      "https://stackoverflow.com/users/262478/andy-piper",
      "https://github.com/andypiper",
      "https://gitlab.com/andypiper",
      "https://www.linkedin.com/in/andypiperuk/",
      "https://ko-fi.com/andypiper",
      "https://twitch.tv/andypiper",
      "https://andypiper.medium.com/",
      "https://soundcloud.com/andypiper",
      "https://bandcamp.com/andypiper",
      "https://macaw.social/@andypiper",
      "https://youtube.com/andypiperuk",
      "https://foursquare.com/andypiper",
      "https://andypiper.co.uk/",
      "https://pixelfed.social/@andypiper",
      "https://diode.zone/@andypiper",
      "https://poly.me/andypiper",
      "https://lobste.rs/u/andypiper"
    ]
  }
</script>
