
@font-face {
  font-family: 'Hubot Sans';
  src:
    url('Hubot-Sans.woff2') format('woff2 supports variations'),
    url('Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
html {
  font-family: 'Hubot, sans-serif
    font-family: 'Hubot Sans', sans-serif;
https://cdn.glitch.global/844643de-894b-49ce-8757-32fad8afa3c9/Hubot-Sans.woff2?v=1668163565882https://cdn.glitch.global/844643de-894b-49ce-8757-32fad8afa3c9/Hubot-Sans.woff2?v=1668163565882 *//*  *//* 000