/******************************************************************************
TIP: Get started creating your own theme here

- Set values for the main site variables for properties like fonts and colors
- You can also add any style rules you like

- Make sure you have `dusky-lory` in settings.json theme property
- (Update it if you changed the CSS file name)
******************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

:root {
  /* CSS HEX palette (from coolors.co) */
  --oxford-blue: #00072dff;
  --gold-crayola: #edcb96ff;
  --steel-teal: #55868cff;
  --thistle: #d4c1ecff;
  --french-lilac: #89608eff;
  --font-family: "Space Mono", sans-serif;
  --font-family-header: "Space Mono", sans-serif;
  --font-family-list: "Space Mono", sans-serif;
  --color-bg: var(--oxford-blue);
  --color-bg-alt: var(--thistle);
  --color-text-main: var(--gold-crayola);
  --color-primary: var(--steel-teal);
}

/* Add your style rules! */

body {
  color: var(--color-text-main);
}

p
{
  padding: 10px;
}

ul.link-list li a {
  display: flex;
}
ul.link-list li a:link,
ul.link-list li a:visited {
  background-color: var(--color-primary);
  border-radius: 0.75em;
  padding: 0.5rem;
  font-size: 1em;
  min-height: 4.5rem;
}
ul.link-list li a span {
  text-align: justify;
  line-height: 1.2em;
  flex-grow: 1;
  text-align: center;
}
ul.link-list li a:hover {
  background-color: var(--color-bg);
}
ul.link-list li a img {
  border-radius: 0.2rem;
  width: 3rem;
  overflow: visible;
}

.social-profile-icon path {
  fill: var(--color-primary);
}
.social-profile-icon path:hover {
  fill: var(--color-bg-alt);
}


/* The footer and remix on glitch button */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
}

.footer a:hover {
  background: var(--color-primary);
}
.footer .tagline {
  padding: 0.25rem 1rem 1rem;
  text-align: left;
  white-space: nowrap;
}
.btn--remix {
  font-family: "Space Mono", monospace;
  padding: 0.8rem 0.8rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  height: 3rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 1rem;
}
.btn--remix img {
  position: relative;
  top: 1px;
  margin-right: 0.25rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}
