/******************************************************************************
TIP: Get started creating your own theme here

- Set values for the main site variables for properties like fonts and colors
- You can also add any style rules you like

- Make sure you have `dusky-lory` in settings.json theme property
- (Update it if you changed the CSS file name)
******************************************************************************/

:root {
  /* CSS HEX palette (from coolors.co) */
  --oxford-blue: #00072dff;
  --gold-crayola: #edcb96ff;
  --steel-teal: #55868cff;
  --thistle: #d4c1ecff;
  --french-lilac: #89608eff;
  --font-family: "Space Mono", sans-serif;
  --font-family-header: "Space Mono", sans-serif;
  --font-family-list: "Space Mono", sans-serif;
  --color-bg: var(--oxford-blue);
  --color-bg-alt: var(--thistle);
  --color-text-main: var(--gold-crayola);
  --color-primary: var(--steel-teal);
}

/* Add your style rules! */

body {
  color: var(--color-text-main);
}

p
{
  padding: 10px;
}

ul.link-list li a {
  display: flex;
}
ul.link-list li a:link,
ul.link-list li a:visited {
  background-color: var(--color-primary);
  border-radius: 0.75em;
  padding: 0.5rem;
  font-size: 1em;
  min-height: 4.5rem;
}
ul.link-list li a span {
  text-align: justify;
  line-height: 1.2em;
  flex-grow: 1;
  text-align: center;
}
ul.link-list li a:hover {
  background-color: var(--color-bg);
}
ul.link-list li a img {
  border-radius: 0.2rem;
  width: 3rem;
  overflow: visible;
}

.social-profile-icon path {
  fill: var(--color-primary);
}
.social-profile-icon path:hover {
  fill: var(--color-bg-alt);
}

